{
  "printWidth": 120,
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["<BUILT_IN_MODULES>", "", "<THIRD_PARTY_MODULES>", "", "^[.]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "endOfLine": "auto"
}
